{% extends 'layout.html'%}
{% block title %}
<h2>私訊</h2>
<a href="" class="btn btn-primary" data-toggle="modal" data-target="#workModal">
    回應設定
</a>
{% endblock title%}
{% block content %}
    <div class="container-fluid">
        <div class="row chat-list">
            <!-- <div class="col">
                <div class="">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    {# 燈箱組件 #}
<!-- Modal -->
<div class="modal fade" id="workModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="workModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-0 mr-2" id="workModalLabel">
                    <span>回應設定</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="auto_replyRadios" id="auto_replyRadios1" value="1" checked>
                    <label class="form-check-label" for="auto_replyRadios1">
                        自動回應
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="auto_replyRadios" id="auto_replyRadios2" value="0">
                    <label class="form-check-label" for="auto_replyRadios2">
                        聊天
                    </label>
                </div>
                <hr>
                <div class="spinner-border text-info mx-auto" id="date_loading" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="reply_note reply_note_1 pt-3">
                    <h3 class="mt-2">上下班時間設定</h3>
                        <table class="table table-border">
                            <tr>
                                <th style="width:10%">星期</th>
                                <th>上班</th>
                                <th>下班</th>
                            </tr>
                            {% for i in range(0,7)%}
                            <tr class="week_setting_tr">
                                <td><input class="form-control week_day" type="text" hidden name="week_day" value="{{ i }}"><span class="week_day_text"></span></td>
                                <td><input class="form-control start" type="time" name="start" value=""></td>
                                <td><input class="form-control end" type="time" name="end" value=""></td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <div class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="0">一</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="1">二</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="2">三</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="3">四</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="4">五</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </form>
                            </tr>
                            <tr>
                                <form class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="5">六</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="weekday_form" >
                                    <td><input class="form-control week_day" type="text" hidden name="week_day" value="6">日</td>
                                    <td><input class="form-control" type="time" name="start" value=""></td>
                                    <td><input class="form-control" type="time" name="end" value=""></td>
                                </div>
                            </tr> -->
                            <tr>
                                <td colspan="3">
                                    <div class="form-group">
                                      <label for=""></label>
                                      <textarea class="form-control" name="" id="text_info" rows="3"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- <button type="button" class="btn btn-primary mx-auto" id="get_weekday">設定</button> -->
                </div>
                <div class="reply_note  text-center">
                    <button type="button" class="btn btn-primary" id="set_chat">設定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title m-0 mr-2" id="chatModalLabel">
                <span></span>
                <form class="form-inline">
                    <button class="btn-sm btn-outline-danger" id="delete">結案</button>
                </form>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"><form class="form-inline">
            <!-- chat area -->
            <div class="mesgs">
                <div class="msg_history pt-4 pl-3 pr-3 pb-2">
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div><!-- msg area -->
            </div>
        </div>
        <div class="type_msg p-2">
            <form id="input_msg_write">
                <!-- 、換行請用shift + enter -->
                <div class="row no-gutters">
                    <div class="col-10">
                        <textarea type="text" cols="50" rows="5" name="out_msg" class="write_msg form-control d-block" placeholder="Type a message" id="out_msg"></textarea>
                    </div>
                    <div class="col-2 text-center">
                        <button type="button" class="msg_send_btn btn btn-success">回覆</button>
                    </div>
                </div>
                <!-- <input type="text" name="out_msg" class="write_msg form-control d-block" placeholder="Type a message" id="out_msg"> -->
                <div class="text-center">
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
    <script>
    $(function(){
        // $("#form_workday").submit(function(e){
        //     e.preventDefault()
        //     var _circle = []
        //     var _data = $(this).serializeArray()
        //     $.each(_data,function(k,v){
        //         if( v.name == "weekday" ){
        //             var _obj = {}
        //             console.log(k)
        //             _obj[v.name] = v.value
        //             _circle.push(_obj)
        //         }
        //     })
        //     console.log(_circle)
        // })


        // JAMES MARK START //////////////////////////////////
        // $('input:radio[name=auto_replyRadios]').change(function() {
        //     if (this.value == '1') {
        //         $(".reply_note_2").css({"display":"none"})
        //         $(".reply_note_1").css({"display":"block"})
        //     }
        //     else if (this.value == '0') {
        //         $(".reply_note_1").css({"display":"none"})
        //         $(".reply_note_2").css({"display":"block"})
        //     }
        // });
        // JAMES MARK END //////////////////////////////////
        // set_chat
        $("body").on("click","#set_chat",function(){
            var _week_set = []
            $(".week_day").each(function(k,v){
                 console.log($(this).val())
            })
        })

        var _channelId = "{{ session.get('channel_id')}}"
        var _singleRoomuserId = '';
        var _leftlength = ''
        // alert(_channelId)
        left();
        var lefttimer = setInterval(function(){
            left()
        },10000)
        function left(){
            $.ajax({
                url : './api_sys/get_chat_room/' + _channelId,
                dataType : "json",
            }).done(function(data){
                var _html = ''
                for(var i=0 ; i < data.room_list.length; i++ ){
                    var _unreadShow = '';
                    if( data.room_list[i].read_status == 1 ){
                        _unreadShow = 'd-none';
                    }
                    var foto = data.room_list[i].avator
                    if( data.room_list[i].avator == null ){
                        foto = 'static/assets/images/n_foto_0.jpg'
                    }
                    _html+= '<div class="col-3 mb-2"><a data-name="' + data.room_list[i].name + '" data-userid="' + data.room_list[i].user_id + '" href="#" data-toggle="modal" data-target="#chatModal" class="media border p-1">';
                        _html+= '<img src="' + foto + '" width=48 class="rounded-circle mr-2" alt="">';
                        _html+= '<div class="media-body">';
                            // _html+= '<h5 class="m-0 text-dark">' + data.room_list[i].name + '<span class="' + _unreadShow + 'unreaddot ml-1"></span>' +'</h5>';
                            _html+= '<h5 class="m-0 text-dark">' + data.room_list[i].name + '</h5>';
                            _html += '<span class="badge badge-info ' + _unreadShow + '">未讀</span>'
                            // _html+= '<small class="text-gray">' + data.room_list[i].datetime + '</small>';
                        _html+= '</div>';
                    _html+= '</a></div>';
                }
                $(".chat-list").html(_html)
            })
        }


        $(".msg_send_btn").click(function(e){
            e.preventDefault();
            var _value = $("#out_msg").val();
            // 先強制把要送出的值換行符改為BR，再交給 後端處理
            _value = _value.replace(/\n|\r|(\r\n)|(\u0085)|(\u2028)|(\u2029)/g, "<br>");
            $("#out_msg").val("")
            $.ajax({
                url : './api_sys/return_chat_msg/' + _channelId + "/" + _singleRoomuserId + "/" + _value ,
                dataType : "json",
            }).done(function(data){
                console.log(data)
                scrollOnBottom()
            })
        })
        var _timer = ''
        $('#chatModal').on('shown.bs.modal', function (e) {
            // 開啟對話視窗時
            _singleRoomuserId = $(e.relatedTarget).attr('data-userid');
            _singleRoomName = $(e.relatedTarget).attr('data-name');
            var _title = _singleRoomName ;
            var _userid = _singleRoomuserId
            // 標題
            $("#chatModalLabel").find("span").html(_title + " <small class='text-info'>" + _singleRoomuserId + "</small>")
            // 複製用
            $("#show_userid").val(_userid)
            // 結案鈕
            $("#delete").attr({
                'data-userid' : _userid ,
                'data-channel' : _channelId,
            })
            var _alllength = ''; //對話有幾則
            getChat()
            timer = setInterval(function(){
                getChat()
            },1000)
            function getChat(){
                    $.ajax({
                        url : "./api_sys/get_chat_msg/" + _channelId + "/" + _singleRoomuserId,
                        dataType : "json",
                    }).done(function(data){
                        if( _alllength == "" ){
                            // 第一次進來，必須全體資料each一遍
                            $(".msg_history").html("")
                            var _chat = data.datalist;
                            _alllength = data.datalist.length;
                            for( var j=0 ; j < _alllength ; j++ ){
                                var _dialogHtml = ''
                                if( _chat[j].originator == "user"){
                                    _dialogHtml = dialog_user(_chat[j])
                                }else{
                                    _dialogHtml = dialog_admin(_chat[j])
                                }
                                $(".msg_history").append(_dialogHtml)
                                scrollOnBottom()
                            }
                        }else{
                            // 再次訪問，比對是否有新資料
                            if( data.datalist.length > _alllength){
                                //append新對話+1
                                console.log("paiki")
                                readRefresh(data.datalist,-1)
                                _alllength = data.datalist.length;
                                var _chat = data.datalist[(data.datalist.length-1)];
                                var _dialogHtml = '';
                                if( _chat.originator == "user"){
                                    _dialogHtml = dialog_user(_chat)
                                }else{
                                    _dialogHtml = dialog_admin(_chat)
                                }
                                $(".msg_history").append(_dialogHtml)
                                scrollOnBottom()
                            }else{
                                // console.log("no")
                                readRefresh(data.datalist,0)
                            }
                        }
                        // console.log(data)
                    })
                }
        })
        $('#chatModal').on('hide.bs.modal', function (e) {
            clearInterval(timer);
            var _htmlclose = '<div class="spinner-border text-info" role="status"><span class="sr-only">Loading...</span></div>'
            $(".msg_history").html(_htmlclose)
        })
        // $("#set_chat").click(function(e){
        //     // 改人工聊天
        //     var _forCircle = []
        //     e.preventDefault()
        //     $(".weekday_form").each(function(){
        //         console.log($(this).children("td").children("input").val())
        //         var _data = $(this).serializeArray()
        //         var _obj = {}
        //         $.each(_data,function(i,j){
        //             _obj[j.name] = j.value
        //         })
        //         _forCircle.push(_obj)
        //     })
        //     $.ajax({
        //         url : "api_sys/set_auto_reply/",
        //         data : JSON.stringify({
        //             channel_id : _channelId,
        //             switch : 0,
        //             cycle : _forCircle
        //         }),
        //         type : "post",
        //         "headers": {
        //             "Content-Type": "application/json"
        //         },
        //         dataType : "json"
        //     }).done(function(data){
        //         alert("完成")
        //     })
        // })
        // $("#get_weekday").click(function(e){
        //     // 設定上班日
        //     var _forCircle = []
        //     e.preventDefault()
        //     $(".weekday_form").each(function(){
        //         var _data = $(this).serializeArray()
        //         console.log(_data)
        //         var _obj = {}
        //         $.each(_data,function(i,j){
        //             _obj[j.name] = j.value
        //         })
        //         _forCircle.push(_obj)
        //     })
        //     console.log(_forCircle)
        //     $.ajax({
        //         url : "api_sys/set_auto_reply/",
        //         data : JSON.stringify({
        //             channel_id : _channelId,
        //             switch : 1,
        //             cycle : _forCircle
        //         }),
        //         type : "post",
        //         "headers": {
        //             "Content-Type": "application/json"
        //         },
        //         dataType : "json"
        //     }).done(function(data){
        //         alert("完成")
        //     })
        // })
        // 0 off 人工
        // 1 on 機器人
        $('#workModal').on('shown.bs.modal', function (e) {
            $.ajax({
                url : "./api_sys/get_auto_reply/" + _channelId,
                dataType : "json"
            }).done(function(data){
                array_week = ["一","二","三","四","五","六","日"]
                $.each(array_week, function (k, v) {
                    $(".week_day_text").eq(k).text(v);
                })
                if (typeof data.auto_reply !== 'undefined') {
                    $.each(array_week, function (k, v) {
                        $(".start").eq(k).val(data.auto_reply.cycle[k]['start'])
                        $(".end").eq(k).val(data.auto_reply.cycle[k]['end'])
                    })
                    // $.each(data.auto_reply.cycle,function(k,v){
                    //     console.log(v)
                    //     $(".week_day_text").eq(k).text(array_week[k]);
                    //     $(".start").eq(k).val(v.start)
                    //     $(".end").eq(k).val(v.end)
                    // })
                    $("#text_info").val(data.auto_reply.text_info)
                    
                    $("input[name='auto_replyRadios'][value='" + data.auto_reply.switch + "']").prop("checked", true);
                    switch_auto_reply_status(data.auto_reply.switch)
                }
                $("#date_loading").hide()
            })
        })
         $('input:radio[name=auto_replyRadios]').change(function() {
            switch_auto_reply_status(this.value)
        });
        // 切換 自動回覆顯示狀態
        function switch_auto_reply_status(status){
            if (status == '1') {
                $(".start").attr('readonly', false);
                $(".end").attr('readonly', false);
                $("#text_info").attr('readonly', false);
            }else{
                $(".start").attr('readonly', true);
                $(".end").attr('readonly', true);
                $("#text_info").attr('readonly', true);
            }
        }
        // 送出自動回覆設定
        $("body").on("click", "#set_chat", function () {
            var _week_set = []
            var _obj = {}
            $(".week_day").each(function (k, v) {
                console.log($(this).val())
                _week_set.push({
                    "week_day": $(".week_setting_tr").eq(k).find(".week_day").val(),
                    "start": $(".week_setting_tr").eq(k).find(".start").val(),
                    "end": $(".week_setting_tr").eq(k).find(".end").val(),
                })
            })
            console.log($('input:radio[name=auto_replyRadios]').val())
            $.ajax({
                url : "./api_sys/set_auto_reply/",
                data : JSON.stringify({
                    channel_id : _channelId,
                    switch : $('input:radio[name=auto_replyRadios]:checked').val(),
                    cycle : _week_set,
                    text_info:$("#text_info").val()
                }),
                type : "post",
                "headers": {
                    "Content-Type": "application/json"
                },
                dataType : "json"
            }).done(function(data){
                alert("完成")
            })
        })
        
        function readRefresh(dialog,hasNew){
            for(var k = 0; k < (dialog.length + hasNew) ; k++ ){
                var _origRead = $(".msg_idx").eq(k).find(".isread").attr("data-status")
                if( dialog[k].read_status != _origRead ){
                    var _newreadStatus = ''
                    if( dialog[k].read_status == 0 ){
                        _newreadStatus = '未讀'
                    }else{
                        _newreadStatus = '已讀'
                    }
                    $(".msg_idx").eq(k).find(".isread").attr("data-status",dialog[k].read_status)
                    $(".msg_idx").eq(k).find(".isread").text(_newreadStatus)
                }
            }
        }
        function dialog_user(dialog){
            var foto = dialog.avator
            var _read = dialog.read_status?"已讀":"未讀"
            if( dialog.avator == null ){
                foto = 'static/assets/images/n_foto_0.jpg'
            }
            if( dialog.type == undefined || dialog.type == "text" ){
                // 訊息是文字
                return '<div class="incoming_msg mb-1 msg_idx">' + '<div class="incoming_msg_img">' + '<img class="img-fluid rounded-circle" src="' + foto + '" alt="sunil">' + '</div>' + '<div class="received_msg">' + '<div class="received_withd_msg">' + '<p>' + dialog.text + '</p>' + '<span class="time_date mt-0">' + dialog.datetime +  '<span class="isread" data-status="' + dialog.read_status + '">' + _read + '</span></span></div></div></div>';
            }else{
                // 訊息是圖
                return '<div class="incoming_msg msg_idx">' + '<div class="incoming_msg_img">' + '<img class="img-fluid rounded-circle" src="' + foto + '" alt="sunil">' + '</div>' + '<div class="received_msg">' + '<div class="received_withd_msg">' + '<img src="' + dialog.src + '" class="img-fluid border d-block">' + '<a href="' + dialog.src + '" target="_blank" class="badge badge-light border">看大圖</a>' + '<span class="time_date mt-1 ml-1">' + dialog.datetime +  '</span><span class="isread" data-status="' + dialog.read_status + '">' + _read + '</span></div></div></div>';
            }
        }
        function dialog_admin(dialog){
            var _read = dialog.read_status?"已讀":"未讀"
            return '<div class="outgoing_msg msg_idx">' + '<div class="sent_msg">' + '<p>' + dialog.text + '</p><span class="time_date mt-1">' + dialog.datetime + '<span class="isread" data-status="' + dialog.read_status + '">' + _read + '</span></span></div></div>';
        }
        //將捲軸拉到最底下
        function scrollOnBottom(){
            var messageBody = $('.msg_history');
            var _height = messageBody.outerHeight();
            messageBody.scrollTop(_height*100);
        }
        $("#delete").click(function(e){
            // 結案
            e.preventDefault()
            var _gotUserid = $(this).attr("data-userid");
            var _gotChannel = $(this).attr("data-channel")
            var msg = "結案會在畫面上隱藏對話框，直到使用者再次來訊"; 
            if (confirm(msg) == true){
                $.ajax({
                    "url" : '/api_sys/remove_chat_room/' + _gotChannel + "/" + _gotUserid,
                    dataType : "json"
                }).done(function(data){
                    alert("完成結案")
                    $('#chatModal').modal('hide')
                    location.reload()
                    // return false; 
                })
            }else{ 
                return false; 
            } 
        })
    })
    </script>
    {# 燈箱組建結束#}
{% endblock content %}