{% extends 'layout.html'%}
{% block title %}
<h2>私訊</h2>
{% endblock title%}
{% block content %}
    <div class="row no-gutters">
        <div class="col fox-chatbar">
            <div class="chat-list">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col fox-content position-relative bg-light pt-5 pb-5 text-center">
            請點選左邊開始對話
        </div>
    </div>
    {# 燈箱組件 #}
  <!-- Modal -->
    <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="chatModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!-- chat area -->
                <div class="mesgs">
                    <div class="msg_history pt-4 pl-3 pr-3 pb-2">
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div><!-- msg area -->
                </div>
            </div>
            <div class="type_msg pl-2 pr-2">
                <form class="input_msg_write">
                    <input type="text" name="out_msg" class="write_msg" placeholder="Type a message" />
                    <button class="msg_send_btn btn btn-success" type="submit">回覆</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    <script>
    $(function(){
        var _channelId = "{{ session.get('channel_id')}}"
        var _singleRoomuserId = '';
        var _leftlength = ''
        // alert(_channelId)
        left();
        var lefttimer = setInterval(function(){
            left()
        },10000)
        function left(){
            $.ajax({
                url : './api_sys/get_chat_room/' + _channelId,
                dataType : "json",
            }).done(function(data){
                var _html = ''
                for(var i=0 ; i < data.room_list.length; i++ ){
                    var _unreadShow = '';
                    if( data.room_list[i].not_read_count == 0 ){
                        _unreadShow = 'd-none'
                    }
                    var foto = data.room_list[i].avator
                    if( data.room_list[i].avator == null ){
                        foto = 'static/assets/images/n_foto_0.jpg'
                    }
                    _html+= '<a data-name="' + data.room_list[i].name + '" data-userid="' + data.room_list[i].user_id + '" href="#" data-toggle="modal" data-target="#chatModal" class="media mb-3 pb-2 border-bottom">';
                        _html+= '<img src="' + foto + '" width=48 class="rounded-circle mr-2" alt="">';
                        _html+= '<div class="media-body">';
                            // _html+= '<h5 class="m-0 text-dark">' + data.room_list[i].name + '<span class="' + _unreadShow + 'unreaddot ml-1"></span>' +'</h5>';
                            _html+= '<h5 class="m-0 text-dark">' + data.room_list[i].name + '<span class="badge badge-info ml-2' + _unreadShow + '">未讀</span></h5>';
                            _html+= '<small class="text-gray">' + data.room_list[i].datetime + '</small>';
                        _html+= '</div>';
                    _html+= '</a>';
                }
                $(".chat-list").html(_html)
            })
        }
        $("form").submit(function(e){
            console.log(e)
            e.preventDefault()
            var _form = $(this).serializeArray()
            // 輸入一句話後
            $(".write_msg").val("")
            $.ajax({
                url : './api_sys/return_chat_msg/' + _channelId + "/" + _singleRoomuserId + "/" + _form[0].value ,
                dataType : "json",
            }).done(function(data){
                console.log(data)
                // dialog_admin(_chat)
                scrollOnBottom()
            // <channel_id>/<user_id>/<文字內容>
            })
        })
        var _timer = ''
        $('#chatModal').on('shown.bs.modal', function (e) {
            // 開啟對話視窗時
            _singleRoomuserId = $(e.relatedTarget).attr('data-userid');
            _singleRoomName = $(e.relatedTarget).attr('data-name');
            var _title = _singleRoomName + "<small class='ml-1'>(USER ID : " + _singleRoomuserId + ")</small>"
            $("#chatModalLabel").html(_title)
            var _alllength = ''; //對話有幾則
            getChat()
            timer = setInterval(function(){
                getChat()
            },1000)
            function getChat(){
                    $.ajax({
                        url : "./api_sys/get_chat_msg/" + _channelId + "/" + _singleRoomuserId,
                        dataType : "json",
                    }).done(function(data){
                        if( _alllength == "" ){
                            // 第一次進來，必須全體資料each一遍
                            $(".msg_history").html("")
                            var _chat = data.datalist;
                            _alllength = data.datalist.length;
                            for( var j=0 ; j < _alllength ; j++ ){
                                var _dialogHtml = ''
                                if( _chat[j].originator == "user"){
                                    _dialogHtml = dialog_user(_chat[j])
                                }else{
                                    _dialogHtml = dialog_admin(_chat[j])
                                }
                                $(".msg_history").append(_dialogHtml)
                                scrollOnBottom()
                            }
                        }else{
                            // 再次訪問，比對是否有新資料
                            if( data.datalist.length > _alllength){
                                //append新對話+1
                                _alllength = data.datalist.length;
                                var _chat = data.datalist[(data.datalist.length-1)];
                                var _dialogHtml = '';
                                if( _chat.originator == "user"){
                                    _dialogHtml = dialog_user(_chat)
                                }else{
                                    _dialogHtml = dialog_admin(_chat)
                                }
                                $(".msg_history").append(_dialogHtml)
                                scrollOnBottom()
                            }else{
                                // console.log("no")
                            }
                        }
                        // console.log(data)
                    })
                }
        })
        $('#chatModal').on('hide.bs.modal', function (e) {
            clearInterval(timer);
            var _htmlclose = '<div class="spinner-border text-info" role="status"><span class="sr-only">Loading...</span></div>'
            $(".msg_history").html(_htmlclose)
        })
        function dialog_user(dialog){
            var foto = dialog.avator
            if( dialog.avator == null ){
                foto = 'static/assets/images/n_foto_0.jpg'
            }
            if( dialog.type == undefined || dialog.type == "text" ){
                // 訊息是文字
                return '<div class="incoming_msg">' + '<div class="incoming_msg_img">' + '<img class="img-fluid rounded-circle" src="' + foto + '" alt="sunil">' + '</div>' + '<div class="received_msg">' + '<div class="received_withd_msg">' + '<p>' + dialog.text + '</p>' + '<span class="time_date">' + dialog.datetime +  '</span></div></div></div>';
            }else{
                // 訊息是圖
                return '<div class="incoming_msg">' + '<div class="incoming_msg_img">' + '<img class="img-fluid rounded-circle" src="' + foto + '" alt="sunil">' + '</div>' + '<div class="received_msg">' + '<div class="received_withd_msg">' + '<img src="' + dialog.src + '" class="img-fluid border d-block">' + '<a href="' + dialog.src + '" target="_blank" class="badge badge-light border">看大圖</a>' + '<span class="time_date">' + dialog.datetime +  '</span></div></div></div>';
            }
        }
        function dialog_admin(dialog){
            return '<div class="outgoing_msg">' + '<div class="sent_msg">' + '<p>' + dialog.text + '</p><span class="time_date">' + dialog.datetime + '</span></div></div>';
        }
        //將捲軸拉到最底下
        function scrollOnBottom(){
            var messageBody = $('.msg_history');
            var _height = messageBody.outerHeight();
            messageBody.scrollTop(_height*100);
        }
        
    })
    </script>
    {# 燈箱組建結束#}
{% endblock content %}