{% extends 'layout.html'%}
{% block title %}
 Functions 
{% endblock title%}
{% block add_button %}
<a href="" class="btn btn-primary"><i class="material-icons">add</i>新增</a>
{% endblock add_button %}


{% block content %}
<div class="row">
    <div class="col-4">
        <div class="chart_area_wrapper p-3 card">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="material-icons">add</i>
                新增 Channel
            </button>
        </div>
    </div>

    

</div>
{% endblock content %}
