{% extends 'layout.html'%}
{% block title %}
<h2><button type="buttom" onclick="history.back()" class="btn btn-outline-secondary btn-sm mr-1"><i class="material-icons p-0 m-0">keyboard_arrow_left</i></button>派發序號</h2>
{% endblock title%}

{% block content %}
<div class="card mb-4">
    <div class="row p-3">
        
        <div class="col-1"><img class="img-fluid rounded" src="{{product.product_img}}" alt=""></div>
        <div class="col-11">
            <h3>{{product.product_name}}</h3>
            <hr>
            <table>
                <tr>
                    <td>兌換點數</td>
                    <td><span class="text-danger">{{product.points}}</span>點</td>
                </tr>
                <tr>
                    <td>庫存</td>
                    <td><span class="text-danger">{{product.last_qty}}</span></td>
                </tr>
                <tr>
                    <td>時間</td>
                    <td>
                        <p class="m-0"><small>上架時間：{{product.date_sale}}</small></p>
                        <p class="m-0"><small>截止時間：{{product.date_close}}</small></p>
                        <p class="m-0"><small>派發時間：{{product.date_send}}</small></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<h3>兌換者列表</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>兌換者</th>
            <th>進行派發</th>
            <th>申請日</th>
            <th>狀態</th>
            <!-- <th>對使用者進行</th> -->
        </tr>
    </thead>
    <tbody>
        {% for data in datalist %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{data.name}}<br/>
                <!-- user id -->
                <small class="text-muted">{{data.user_id}}</small>
            </td>
            <td>
                <p class="m-0 mb-2"><span class="badge badge-light mr-2">ORDER ID</span><small class="text-muted">{{data.order_id}}</small></p>
                <form action="" class="goSubmit">
                    <input type="text" name="order_id" value="{{data.order_id}}" hidden class="form-control mb-2">
                    <input type="text" name="channel_id" value="{{data.channel_id}}" hidden class="form-control mb-1">
                    <input type="text" name="exchange_link" value="{{data.exchange_link}}" class="form-control mb-2" placeholder="網址" >
                    <input type="text" name="exchange_code" value="{{data.exchange_code}}" class="form-control mb-1" placeholder="密碼" >
                    {% if data.status == 'applying' %}
                        <button type="submit" class="btn btn-sm btn-primary">派發</button>
                    {% else %}
                    {% endif %}
                </form>
            </td>
            <td>{{data.datetime}}</td>
            <td>{{data.status}}</td>
            <!-- <td> -->
                <!-- <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#msgModal">傳訊</button>
                <button class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#blockModal">黑名單</button> -->
            <!-- </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{# 燈箱組件 #}
<!-- Modal -->
<div class="modal fade" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blockModalLabel">設定成黑名單</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" id="form_block">
                <div class="modal-body">
                    <div class="tool-list-width">
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">Channel ID<span
                                    class="text-danger">*</span></label>
                            <div class="col-10"> <input type="text" name="channel_id" class="form-control"
                                    placeholder="請輸入" required value="{{ session.get('channel_id')}}" readonly></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">名稱<span
                                    class="text-danger">*</span></label>
                            <div class="col-4"> <input type="text" name="name" class="form-control" required value="James Wolf" readonly></div>
                            <label class="col-2 col-form-label" for="">ＵＩＤ<span
                                    class="text-danger">*</span></label>
                            <div class="col-4"> <input type="text" name="uid" class="form-control"
                                    placeholder="請輸入" required value="dsfsdfffewerwe" readonly></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">訊息內容(選填)</label>
                            <div class="col-10">
                                <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save">設成黑名單</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msgModalLabel">傳訊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" id="form_msg">
                <div class="modal-body">
                    <div class="tool-list-width">
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">Channel ID<span
                                    class="text-danger">*</span></label>
                            <div class="col-10"> <input type="text" name="channel_id" class="form-control"
                                    placeholder="請輸入" required value="{{ session.get('channel_id')}}" readonly></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">名稱<span
                                    class="text-danger">*</span></label>
                            <div class="col-4"> <input type="text" name="name" class="form-control" required value="James Wolf" readonly></div>
                            <label class="col-2 col-form-label" for="">ＵＩＤ<span
                                    class="text-danger">*</span></label>
                            <div class="col-4"> <input type="text" name="uid" class="form-control"
                                    placeholder="請輸入" required value="dsfsdfffewerwe" readonly></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">訊息內容(選填)</label>
                            <div class="col-10">
                                <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save_msg">傳訊</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("body").on("click", "#save", function () {
            $("form").submit();
        })

        $(".msg_type_box").hide();
        $(".text_box").show();

        $("body").on("change", "#msg_type", function () {
            $(".msg_type_box").hide();
            $("." + $(this).val() + "_box").show();
        })

        $("body").on("click", ".user-info", function () {
            user_id = $(this).attr("user_id");
            location.href = "./user_info/{{session.get('channel_id')}}/"+user_id
        })
        $(".goSubmit").submit(function(e){
            e.preventDefault();
            $(this).find(".btn").attr("disabled","disabled").text("派發中...")
            var _this = $(this)
            var _data = $(this).serializeArray();
            console.log(_data)
            var _forUpload = {}
            $.each(_data,function(k,v){
                _forUpload[v.name] = v.value
            })
            console.log(_forUpload)
            $.ajax({
                url : './api_sys/order_set_exchange',
                dataType : "json",
                data : _forUpload
            }).done(function(data){
                _this.find(".btn").text(data.sys_msg)
                _this.append("<span class='text-white p-0 m-0'><small>" + data.sys_code + "</small></span>")
                if( data.sys_code == "200" || data.sys_code == "500" ){}else{
                    _this.find(".btn").removeAttr("disabled","")
                }
            })
        })
    })
</script>
{# 燈箱組建結束#}
{% endblock content %}