{% extends 'layout.html'%}
{% block title %}
<h2>商品管理</h2>
<a href="" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
    <i class="material-icons">add</i>
    新增
</a>
{% endblock title%}

{% block content %}
<!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">上架中</a>
        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">已截止</a>
        <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">已過派發時間</a>
    </div>
</nav> -->
<div class="tab-content " id="nav-tabContent">
    <div class="tab-pane fade show active pt-3" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
        <table class="table table-hover datalist">
            <thead>
                <tr>
                    <th>商品編號</th>
                    <th>商品名稱</th>
                    <th>顯示圖</th>
                    <th>兌換點數</th>
                    <th>名額</th>
                    <th>剩餘</th>
                    <th>時間</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datalist %}
                <tr>
                    <td>{{ data.product_id}}</td>
                    <td>{{ data.product_name}}</td>
                    <td><img src="{{ data.product_img}}" class="img-fluid border" style="max-width:60px" alt=""></td>
                    <td>{{ data.need_points }}</td>
                    <td>{{ data.total_qty }}</td>
                    <td>{{ data.last_qty }}</td>
                    <td>
                        <p class="m-0"><small>上架時間：{{data.date_sale}}</small></p>
                        <p class="m-0"><small>截止時間：{{data.date_close}}</small></p>
                        <p class="m-0"><small>派發時間：{{data.date_send}}</small></p>
                    </td>
                    <td>
                        <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-idx="{{loop.index}}" data-all="{{data}}" data-target="#editproductModal">編輯</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{# 燈箱組件 #}
<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
    aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">新增商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" enctype="multipart/form-data" id="new-form">
                <div class="modal-body">
                    <div class="tool-list-width">

                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">Channel ID<span
                                    class="text-danger">*</span></label>
                            <div class="col-10"> <input type="text" name="channel_id" class="form-control"
                                    placeholder="請輸入" required value="{{ session.get('channel_id')}}" readonly></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品編號<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="text" name="product_id" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品分類<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <select name="category_id">
                                    {% for category in product_categories_list %}
                                    <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">兌換型式<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <select name="type">
                                    <option value="link_code">連結＋密碼</option>
                                    <option value="qr_ticket">QRCode 驗證</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品名稱<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="text" name="product_name" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">兌換點數<span class="text-danger">*</span></label>
                            <div class="col-4">
                                <input type="number" name="need_points" class="form-control"
                                    placeholder="請輸入" required>
                            </div>
                            <label class="col-2 col-form-label" for="">名額<span class="text-danger">*</span></label>
                            <div class="col-4">
                                <input type="number" name="total_qty" class="form-control"
                                    placeholder="請輸入" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">上架時間<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="date" name="date_sale" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">截止時間<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="date" name="date_close" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">派發時間<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="date" name="date_send" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品圖片<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="file" name="product_img" class="form-control mb-2">
                                <img src="" alt="" class="product_img img-fluid w-50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveNew">完成</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editproductModal" tabindex="-1" role="dialog" aria-labelledby="editproductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editproductModalLabel">編輯商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" enctype="multipart/form-data" id="edit-form">
                <div class="modal-body">
                    <div class="tool-list-width">

                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">Channel ID<span
                                    class="text-danger">*</span></label>
                            <div class="col-10"> <input type="text" name="channel_id" class="form-control"
                                    placeholder="請輸入" required value="{{ session.get('channel_id')}}" readonly></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品編號<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="text" name="product_id" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品分類<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <select name="category_id">
                                    {% for category in product_categories_list %}
                                    <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">兌換型式<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <select name="type">
                                    <option value="link_code">連結＋密碼</option>
                                    <option value="qr_ticket">QRCode 驗證</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品名稱<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="text" name="product_name" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">兌換點數<span class="text-danger">*</span></label>
                            <div class="col-4">
                                <input type="number" name="need_points" class="form-control"
                                    placeholder="請輸入" required>
                            </div>
                            <label class="col-2 col-form-label" for="">名額<span class="text-danger">*</span></label>
                            <div class="col-4">
                                <input type="number" name="total_qty" class="form-control"
                                    placeholder="請輸入" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">上架時間<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="date" name="date_sale" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">截止時間<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="date" name="date_close" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">派發時間<span class="text-danger">*</span></label>
                            <div class="col-10">
                                <input type="date" name="date_send" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="">商品圖片<span class="text-danger"></span></label>
                            <div class="col-10">
                                <input type="file" name="product_img" class="form-control mb-2">
                                <img src="" alt="" class="product_img img-fluid w-50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveEdit">完成</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script> -->
<script>
    $(function () {
        $('.datalist').DataTable();
        $("body").on("click", "#saveNew", function () {
            // 新增商品
            $("#new-form").submit();
        })
        $("body").on("click", "#saveEdit", function () {
            // 編輯商品
        })

        $(".msg_type_box").hide();
        $(".text_box").show();

        $("body").on("change", "#msg_type", function () {
            $(".msg_type_box").hide();
            $("." + $(this).val() + "_box").show();
        })

        $("body").on("click", ".user-info", function () {
            user_id = $(this).attr("user_id");
            location.href = "./user_info/{{session.get('channel_id')}}/"+user_id
        })
        $('#productModal').on('hidden.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            // $("form").find("input").val();
        })
        $('#editproductModal').on('show.bs.modal', function (event) {
            // 編輯商品前先把原先商品資料塞入
            var button = $(event.relatedTarget) // Button that triggered the modal
            var _data = button.attr('data-all') // Extract info from data-* attributes
            var _idx = button.attr('idx') // Extract info from data-* attributes
           
            // 編輯，把資料塞進form中
            var _putData = eval('[' + _data + ']'); // string to obj
            console.log(_putData)
            $("form").find("input").each(function(){
                var _name = $(this).attr("name");
                if( _name == undefined || _name == 'product_img' ){
                    $(this).next(".product_img").attr('src',_putData[0]['product_img'])
                }else{
                    var _val = _putData[0][_name]
                    console.log(_name)
                    $(this).val(_val)
                }
            })
            $("form").find("select").each(function () {
                var _name = $(this).attr("name");
                var _val = _putData[0][_name]
                $(this).val(_val)
            })
            
            var modal = $(this)
        })
    })
</script>
{# 燈箱組建結束#}
{% endblock content %}